.App {

margin: 5%;

width: 40%;
background-color:#6b5f5f19 ;
justify-content: center;
align-items: center;
border-radius: 7%;
}

.profilePic{
  border-radius: 300px;
}

.backgroundHeader{
  width: 100vw;
  border: solid rebeccapurple 3px;
  background-color: #383449
}

.profile{
min-width: 20%;
margin-left: 8%;

}

.test{
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
}

.sidebar{
  display: flex;;
  flex: 1 auto;
  height:100%;
  width:15%;
  background-color: grey;
}
.sidebar_child{
  flex: 1 auto;
  margin:22%
  
}

.top_track_parent{
  display: grid;
  
  
}
/* .range-btn-parent{
  display: flex;
  margin-right: 40%;
} */